In [ ]:
#Step 1.분석할 데이터가 저장된 파일을 불러와서 변수에 할당합니다.
from google.colab import files
myfile = files.upload()
import io
import pandas as pd
#pd.read_csv로 csv파일 불러오기
fish3 = pd.read_csv(io.BytesIO(myfile['fish3.csv']),
                       encoding='cp949')
fish3

In [1]:
import pandas as pd
fish3 = pd.read_csv('fish3.csv',encoding='cp949')
fish3

     종류     무게    길이       높이      두께
0    도미  242.0  25.4  11.5200  4.0200
1    도미  290.0  26.3  12.4800  4.3056
2    도미  340.0  26.5  12.3778  4.6961
3    도미  363.0  29.0  12.7300  4.4555
4    도미  430.0  29.0  12.4440  5.1340
..   ..    ...   ...      ...     ...
143  빙어   12.2  12.2   2.0904  1.3936
144  빙어   13.4  12.4   2.4300  1.2690
145  빙어   12.2  13.0   2.2770  1.2558
146  빙어   19.7  14.3   2.8728  2.0672
147  빙어   19.9  15.0   2.9322  1.8792

[148 rows x 5 columns]

In [15]:
#Step 2: 훈련용 데이터셋과 테스트용 데이터셋 나누어서 분석
import numpy as np
from sklearn.model_selection import train_test_split
# 무게, 길이, 높이, 두께에 따른 종류 분류
data = fish3.drop('종류',axis=1)
target = fish3['종류']

# train, test 데이터 분리
X_train, X_test, y_train, y_test=train_test_split(data, target, test_size=0.2)

In [3]:
X_train

         무게    길이       높이      두께
74    130.0  21.3   6.3840  3.5340
90    218.0  26.5   7.1680  4.1440
112  1100.0  42.0  12.8002  6.8684
141     9.9  11.8   2.2139  1.1659
107   820.0  39.0  12.4313  7.3514
..      ...   ...      ...     ...
132  1550.0  60.0   9.6000  6.1440
115  1000.0  43.5  12.6040  8.1420
76    120.0  22.0   5.6400  3.5250
2     340.0  26.5  12.3778  4.6961
57    306.0  28.0   8.7780  4.6816

[118 rows x 4 columns]

In [17]:
#Step 3. 데이터 표준화를 진행합니다
from sklearn.preprocessing import StandardScaler
data
# Standardization 평균 0 / 분산 1

# 교차검증시

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test= sc.transform(X_test)

In [20]:
# 모델을 생성하고 테스트하고 성능을 확인합니다.
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
# 로지스틱 회귀 모델 생성(C, max_iter 속성 정하기)
lr = LogisticRegression(C=1, max_iter=1000)
# 모델 학습
lr.fit(X_train, y_train)

# 모델 예측 결과 출력
lr.predict(X_test)
# 분류 확률 출력
lr.predict_proba(X_test)

# 점수 출력
lr.score(X_train, y_train)

0.8050847457627118

In [21]:
lr.score(X_test,y_test)

0.8